.site-foot {
  // Reverse whatever the theme colors are
  background: var(--color-bg-glare);
  color: var(--color-text);
  border-top: 1px solid var(--color-stroke);

  a {
    color: currentColor;

    &:hover {
      text-decoration: none;
    }
  }

  &__credit {
    text-align: center;
  }
}

.speedlify-score-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  [data-user-color-scheme="light"] & {
    .speedlify-score-bad {
      color: #d44137;
    }

    .speedlify-score-ok {
      color: #a46900;
    }
  }

  [data-user-color-scheme="dark"] & {
    .speedlify-score.speedlify-score-good {
      color: #0ff47e; // A11y-fix in dark-mode
    }
  }

  > a {
    text-decoration: none;
  }
}