<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Security-Policy" content="default-src 'none'; base-uri 'self'; form-action 'none'; img-src 'self' data: https://imgsct.cookiebot.com; script-src 'self' 'unsafe-inline' https://static.codepen.io https://public.codepenassets.com https://consent.cookiebot.com https://consentcdn.cookiebot.com; style-src 'unsafe-inline'; object-src 'none'; font-src 'self'; connect-src 'self' https://speedlify-benchmarks.netlify.app https://consentcdn.cookiebot.com; frame-src https://codepen.io https://consentcdn.cookiebot.com">

  <!-- Cookiebot. Must stay the first script in the document for auto-blocking to work. -->
  <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="2959233c-7777-44d8-8beb-d389bd10f39d" data-blockingmode="auto" type="text/javascript"></script>
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}feed.xml" />
  <link rel="icon" href="{{ site.faviconPath }}" type="image/png" sizes="48x48" />
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png" />
  {% include "partials/global/meta-info.njk" %}
  <script>document.documentElement.classList.remove('no-js');</script>
  <script defer src="/js/components/speedlify-score.js"></script>
  <style>{% include "assets/css/global.css" %}</style>
  {% block head %}
  {% endblock %}
</head>
<body>
  {% include "partials/global/site-head.njk" %}
  {% block content %}
  {% endblock content %}
  {% include "partials/global/site-foot.njk" %}
  {% block foot %}
  {% endblock %}
  <script type="module" src="/js/components/theme-toggle.js" defer></script>
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script>
</body>
</html>
